.header {
    width: 100%;
    // height: 100%;
    // font-size: $def-px;
    .header-nav {
        margin-top: $default-px;
        display: flex;
        justify-content: space-between;
    }
    .header-center-nav ul {
        display: flex;
        // justify-content: space-around;
        li {
            font-size: $default-px - 4;
            margin-left: $default-px;

        }

    }
    .header-img {
        margin-top: $default-px;
        width: 100%;
        height: 500px;
        object-fit: cover;
        // line-height: 0;
    }
}

@media screen and (max-width: 479px) {
    // .menu li {
    //     // display: none;
    //     color: black;
    //     text-align: center;
    // }
    
}
    