// reset
@import "reset";

// common
$default-color: #777;
$default-px: 24px;
$pc-w: 1024px;
$tab-w: 896px;
$sp-w: 480px;

// body {
//     opacity: 0;
//     transform: translate(0, 50px);
//     transition: all 1500ms;
// }
// body.scrollin {
//     opacity: 1;
//     transform: translate(0, 0);
// }

body {
    animation: fadeIn 2s ease 0s 1 nomal;
    -webkit-animation: fadeIn 2s ease 0s 1 nomal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
    
}

a, h1, h2, h3, h4, h5, h6 {
    color: $default-color;
}
a {
    text-decoration: none;
}

img {
    vertical-align: bottom;
}

.logo {
    font-family: 'Cinzel', serif;
    font-size: $default-px;
}

.section-title, .nav-item {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: $default-px;
}

.section-title {
    margin-top: $default-px;
    text-align: center;
}

.inner {
    // width: 100%;
    // max-width: 100%;
    margin: 0 auto;
    margin-left: $default-px * 2;
    margin-right: $default-px * 2;
    // margin-right: 20px;
    // padding: 24px;
    // background: #ccc;
    // line-height: 0;
}

// header
@import "header";
// @media screen and (min-width: 1024px) {

// about
.about {
    margin-top: $default-px;
    display: flex;
    .about-left {
        flex: 1;
        text-align: center;
        .about-img {
            width: 250px;
            height: 250px;
            object-fit: cover;
            border-radius: 50%;
        }
        .about-name {
            margin-top: $default-px;
            font-size: $default-px;
        }
        .about-english {
            margin-top: $default-px / 2;
        }
    }
    .about-right {
        flex: 1;
        text-align: center;
        .about-right-section {
            margin-top: $default-px;
        }
        p {
            margin-top: $default-px / 2;
        }
    }
}





// gallery

.insta-box {
    width: 100%;
    // height: 100%;
    margin-top: $default-px;
    // margin-bottom: 20px;
    // display: table;
    display: flex;
    justify-content: space-between;
    // table-layout: fixed;
    // text-align: center;
    .insta-img {
        // @include def-mar();
        width: 125px;
        height: 125px;
        display: table-cell;
        vertical-align: middle;
        // border-radius: 50%;
        overflow: hidden;
        // float: left;
    }
    img {
        // float: left;
        // margin-left: 20px;
        width: 125px;
        height: 125px;
        object-fit: cover;
        transition-duration: 0.3s;  // 拡大に掛かる時間
        &:hover {
            transform: scale(1.1);  //  拡大率
            transition-duration: 0.3s;  // 拡大に掛かる時間
            // border-radius: 100%;
            // opacity: 0.5;
        }
    }
    
}
// }