// reset
@import "reset";

$pc-w: 1024px;
$tab-w: 896px;
$sp-w: 480px;

// mixim
@mixin def-mar {
    margin-top:20px;
    margin-left:20px;
}
@mixin def-fon {
    font-size:24px;
}

// header
@import "header";
@media screen and (min-width: 1024px) {



// mein
.insta-box {
    width: 100%;
    // height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: table;
    table-layout: fixed;
    text-align: center;
    .insta-img {
        // @include def-mar();
        width: 125px;
        height: 125px;
        display: table-cell;
        vertical-align: middle;
        // border-radius: 50%;
        overflow: hidden;
        // float: left;
    }
    img {
        // float: left;
        // margin-left: 20px;
        width: 125px;
        height: 125px;
        object-fit: cover;
        transition-duration: 0.3s;  // 拡大に掛かる時間
        &:hover {
            transform: scale(1.1);  //  拡大率
            transition-duration: 0.3s;  // 拡大に掛かる時間
            // border-radius: 100%;
            // opacity: 0.5;
        }
    }
    
}